#header {
  background-color: #133A7C;
}

.chat__header button, .chat__header label {
  color: #fff;
  background-color: transparent;
  margin: auto 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.chat__label {
  font-size: 36px;
}

svg {
  margin-right: 12px;
  margin-left: 8px;
}
