body {
  width: 414px;
  height: 896px;
  margin: 0 auto;
}

#header {
  background-color: #133A7C;
}

.chat__header button, .chat__header label {
  color: #fff;
  background-color: transparent;
  margin: auto 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.chat__label {
  font-size: 36px;
}

svg {
  margin-right: 12px;
  margin-left: 8px;
}

.alterarfoto {
  color: white;
  font-size: 22px;
  background-color: #133A7C;
  width: 220px;
  height: 70px;
  border-radius: 30pt;
  margin-left: 170px;
  margin-top: 70px;
}

#ftconta {
  margin-top: -105px;
  margin-left: 5px;
}

.Nome {
  background-color: #133A7C;
  border-radius: 5px;
  color: white;
  padding-top: 15px;
  font-size: 22px;
  width: 100px;
  height: 45px;
  text-align: center;
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 10pt;
}

.CampoNome {
  width: 374px;
  height: 50px;
  border-color: #133A7C;
  background-color: white;
  font-family: Nunito;
  font-size: 22px;
  border-width: 3px;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: -10px;
  border-radius: 10pt;
}

.Senha {
  background-color: #133A7C;
  border-radius: 5px;
  color: white;
  padding-top: 15px;
  font-size: 22px;
  width: 100px;
  height: 45px;
  text-align: center;
  margin-left: 40px;
  margin-top: 5px;
  border-radius: 10pt;
}

.CampoSenha {
  width: 374px;
  height: 50px;
  border-color: #133A7C;
  background-color: white;
  font-size: 22pt;
  padding: inherit;
  border-width: 3px;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: -10px;
  border-radius: 10pt;
}

.E-mail {
  background-color: #133A7C;
  border-radius: 5px;
  color: white;
  padding-top: 15px;
  font-size: 22px;
  width: 100px;
  height: 45px;
  text-align: center;
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 10pt;
}

.CampoE-mail {
  width: 374px;
  height: 50px;
  border-color: #133A7C;
  background-color: white;
  font-size: 22px;
  border-width: 3px;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: -10px;
  border-radius: 10pt;
}

.Telefone {
  background-color: #133A7C;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  padding-top: 15px;
  width: 125px;
  height: 45px;
  text-align: center;
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 10pt;
}

.CampoTelefone {
  width: 374px;
  height: 50px;
  border-color: #133A7C;
  background-color: white;
  font-size: 22px;
  border-width: 3px;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: -10px;
  border-radius: 10pt;
}

.ClasseVeículo {
  color: white;
  font-size: 22px;
  background-color: #133A7C;
  width: 160px;
  height: 70px;
  border-radius: 30pt;
  margin: auto;
  margin-left: 47px;
  margin-top: 20px;
}

.ClasseEditar {
  color: white;
  font-size: 22px;
  background-color: #133A7C;
  width: 160px;
  height: 70px;
  border-radius: 30pt;
  margin: auto;
  margin-right: -20px;
  margin-top: 10px;
}

.ClasseSalvar {
  color: white;
  font-size: 22px;
  background-color: #133A7C;
  width: 160px;
  height: 70px;
  border-radius: 30pt;
  margin: auto;
  margin-left: 125px;
  margin-top: 10px;
  margin-bottom: 120px;
}

footer {
  background-color: #133A7C;
  border-radius: 7em 7em 0 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4em;
  text-align: center;
}

#ford {
  position: relative;
  bottom: 3em;
}
