#header {
  background-color: #133A7C;
}

.chat__header button, .chat__header label {
  color: #fff;
  background-color: transparent;
  margin: auto 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.chat__label {
  font-size: 36px;
}

svg {
  margin-right: 12px;
  margin-left: 8px;
}

.carro{
  padding: 16px;
}

.infos{
  box-shadow: 0 0 10px 2px;
  border-radius: 1em;
  padding: 12px;
  border-left: 12px solid #133A7C;
  margin-bottom: 18px;
}

.infos > span{
  font-weight: bolder;
  font-size: 32px;
  padding-bottom: 32px;
  margin-left: 12px;

}

.infos > img{
  padding-top: 10px;

}
