#header {
  background-color: #133A7C;
}

.chat__header button,
.chat__header label {
  color: #fff;
  background-color: transparent;
  margin: auto 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.chat__label {
  font-size: 36px;
}

svg {
  margin-right: 12px;
  margin-left: 8px;
}

.am {
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 1em !important;
  background-color: white;
}

.ag {
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 1em !important;
  background-color: white;
}

.am > button{
  border-radius: 1em;
  width: 384px;
  background-color: white;
}

.ag > button{
  border-radius: 1em;
  width: 384px;
  background-color: white;
}

.am > button > img {
  transform: scale(1);
  border-radius: 1em;
}

.ag>button>img {
  transform: scale(1);
  border-radius: 1em;
}
